@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0px;

}

body {
  color: #111111;
  background-color: #FEF6E4;
}

main {
  padding: 10px 100px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------- */

/* navbar */
nav {
  padding: 10px 30px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  display: block;
  color: #FEF6E4;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-weight: bold;
}

.home {
  background-color: #111111;
  border-radius: 15px;
  padding: 5px;
}

/* animation */
.home:hover {
  border-radius: 60px;
}


/* -------------------------------- */

/* form */
form {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  /*box shadow from https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 20px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
  color: #ED5216;
}

label {
  /* labels side by side */
  display: inline-block;
  margin: 8px 0 4px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="address"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  box-sizing: border-box;
}


input[type="radio"],
input[type="checkbox"] {
  margin-right: 6px;
}

div {
  margin-bottom: 15px;
}

/*button*/
button {
  background-color: #e67e22;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  width: 100%;
}

button:hover {
  background-color: #ffa352;
}

.reset{
  background-color: #af0000;
  margin-top: 15px;
}

textarea {
  resize: none;
}

/* ----------------------------- */

/*footer*/
footer {
  background-color: #111111;
  color: #FEF6E4;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}


footer .links {
  list-style: none;
  padding: 0 0 15px;
  margin: 0px;
}

footer .links li {
  display: inline;
  margin: 0 10px;
}

footer .links a {
  color: #FEF6E4;
  text-decoration: none;
}

footer .links a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 15px;
  color: #bbb;
  margin-top: 10px;
  text-align: center;
}

footer img{
  padding-left: 12px;
}