*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    background-color: #FEF6E4;
}

nav {
  padding: 10px 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  display: block;
  color: #111111;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

/* animation */
.nav-links li a:hover {
  background-color: #111111;
  color: #FEF6E4;
}
