@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Story+Script&display=swap');

* {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #E8E4DD;
}

.poster {
  position: relative;
}

.poster img {
  width: 100%;
  height: auto;
  display: block;
}

.poster h1,
.poster h3,
.poster p,
.title h4,
.lady,
.tramp,
.sentences h5,
.rating h5,
.rating p,
.rating h4,
.credits p,
.credits address p,
.poster h6{
  position: absolute;
  transform: translateX(-50%);
}

.poster h1 {
  top: 1%;
  left: 50%;
  font-size: 9rem;
  background-color: #F5D63C;
  color: #796835;
  white-space: nowrap;
  font-family: "Story Script", sans-serif;
}

.poster h3 {
  top: 9.6%;
  left: 35%;
  font-size: 6rem;
  color: #4472A4;
  background-color: #F8D944;
  z-index: 3;
}

.poster p {
  top: 17.5%;
  left: 34%;
  font-size: 2rem;
  z-index: 3;
}

.title h4 {
  top: 24%;
  left: 24%;
  transform: translateX(-10%);
  z-index: 3;
  font-size: 5rem;
}

.lady,
.tramp {
  font-size: 17rem;
  background-color: #FAD73C;
  font-family: "Londrina Shadow", sans-serif;
  letter-spacing: 0.4rem;
  border-radius: 2rem;
  padding: 0 2rem;
}

.lady {
  top: 7%;
  left: 34.5%;
  z-index: 2;
}

.tramp {
  top: 18.6%;
  left: 36%;
}

.sentences h5 {
  font-size: 3rem;
  text-align: right;
  background-color: #FAD94B;
  border-radius: 2rem;
}

.her {
  top: 38.4%;
  left: 29%;
  padding-right: 3rem;
}

.him {
  top: 49.9%;
  left: 29%;
  padding-right: 3rem;
  padding-top: 1rem;
}

.rating h5,
.rating p,
.credits p,
.rating h4{
  background-color: #F5D240;
}

.rating h4{
  top: 70.2%;
  border: 2px solid black ;
  left: 6%;
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rating h5 {
  top: 71.4%;
  left: 12.2%;
  font-size: 0.9rem;
  white-space: nowrap;
}

.rating p {
  top: 72.6%;
  left: 12.5%;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.credits p {
  top: 74.7%;
  left: 20.2%;
  font-size: 12px;
  white-space: nowrap;
}

.credits address p {
  top: 73.4%;
  left: 13.4%;
  padding-left: 0.2rem;
  font-size: 1.2rem;
}

p a{
  color: #4472A4;
}

a:hover{
  font-weight: bold;
}

.poster h6 {
  bottom: 13.5%;
  left: 57%;
  font-size: 1.7rem;
  padding: 0 0.4rem;
  background-color: #EAE1DE;
}

.disney-logo {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 12rem;
}

.disney-logo img {
    display: block;
}

.disney-logo figcaption {
    text-align: center;
    font-size: 0.7rem;
    color: #ffffff;
    margin-top: 0.2rem;
}

footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  background: rgba(255, 255, 255, 0.567);
  z-index: 999;
}

footer a{
  font-size: 1.4rem;
  background-color: #F5D63C;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  color: #1b1b1b;
  font-family: "Londrina Shadow", cursive;
  text-decoration: none;
  font-weight: bold;
}

footer > a:hover{
  font-size: 1.8rem;
}



/*https://www.w3schools.com/css/css3_animations.asp*/
.lady:hover, .tramp:hover {
  animation: shimmer 1.5s linear forwards;
}

@keyframes shimmer {
  0% { color: #000000; }
  50% { color: #2f3d4b; }
  100% { color: #4472A4; }
}
