@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Playfair Display", serif;
}

/*index.html*/
body {
    background-color: #d4d4d4;
}

/* header */
.navbar {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    /*space between the logo and links */
    align-items: center;
    background-color: #333;
}

/*Arno logo*/
.navbar .logo img {
    display: block;
}

.nav-links {
    list-style: none;
    /* remove the list markers */
    margin: 0;
    padding: 0;
    display: flex;
    /* li side by side*/
}

.nav-links li {
    margin-left: 20px;
    /*margin between the li*/
    font-family: "Playfair Display", serif;
    font-size: 1.1rem;
}

.nav-links a {
    text-decoration: none;
    /*remove the underline*/
    color: #d4d4d4;

    font-weight: bold;
    /*top bottom and left right*/
    padding: 5px 10px;
    transition: color 0.3s;
    /* color transitions */
}

.nav-links a:hover {
    text-decoration: underline;
}

header>img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}

/*container top*/
.content-sides {
    display: flex;
    /*flexbox*/
    gap: 40px;
    /*space between the columns*/
    align-items: center;
    /*centers the image and text*/
    max-width: 1100px;
    /*limit the width*/
    margin: 0 auto;
    text-align: left;
    position: relative;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    padding: 1.8rem;
    border-radius: 2rem;
}

.year{
    font-size: 11rem;
    /* https://www.w3schools.com/cssref/css3_pr_transform.php */
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-family: "Cookie", cursive;
    position: absolute;
    top: 20%;
    left: -50px;
    color: rgba(219, 219, 219, 0.85);
    text-decoration: underline;
    
}

.text-content {
    flex: 1;
    /*allows the text column to take up available space*/
    min-width: 50%;
}

.product-image {
    max-width: 550px;
    height: auto;
    width: 100%;
    margin-top: 10px;
}

.container-top {
    padding: 20px 5%;
    text-align: center;
    margin-top: 0px;
    background-image: url(../img/back.png);
    height: 85vh;
}

.container-top>div {
    max-width: 900px;
    margin: 0 auto;
    background-color: #d4d4d4;
}

.container-top h1 {
    font-size: 2.6rem;
    padding-bottom: 10px;
    border-bottom: 3px solid#567D46;
    /*pink underline*/
    display: inline-block;
    /*helps to keep the h1 border to the text/image */
    margin-bottom: 20px;
}

.container-top p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.container-features {
    padding: 40px 5%;
    max-width: 900px;
    margin: 40px auto;
}

.container-features h2 {
    color: #567D46;
    margin-top: 30px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.container-features ul {
    padding: 0;
    display: flex;
    /* Flex layout for a magazine-style grid */
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.container-features ul li {
    color: #333;
    padding: 15px;
    font-weight: bold;
}

/*citation*/
blockquote {
    font-style: italic;
    margin: 40px 0;
    padding: 20px;
    background-color: pink;
    border-radius: 1rem;
    border: 2px solid#5a5a5a;
    text-align: center;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

/*footer*/
footer {
    background-color:#333 ;
    /*dark background*/
    color: #fff;
    /*white text */
    text-align: center;
    padding: 27px 5%;
    margin-top: 50px;
    /*sspace above the footer to separate it from content*/
    font-size: 0.9em;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}

footer a {
    color: pink;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #69c147;
    /*turn it pink when hover*/
    text-decoration: underline;
}
